/* 電腦版 navbar */
.desktop-navbar {
  position: fixed;
  width: 14%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  background-color: #6fccba;
}
.desktop-navbar .navbar {
  display: block;
}
.navbar-desktop-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 16px;
  padding: 12px 20px;  
}
.desktop-navbar .nav-item .nav-link {
  padding: 12px 20px;  
}
.desktop-navbar .nav-link {
  color:#fff;
}
.desktop-navbar .nav-link.active {
  background-color: rgba(62,176,154, .8); 
  color: #FFF !important;
}
.desktop-navbar .nav-link:hover {
  background-color: rgba(62,176,154, .8); 
  color: #fff;
}

@media (max-width:992px) {
  .desktop-navbar {
    width: 20%;
  }
}

/* 手機版 navbar */
.phone-navbar {
  display: none;
}
.phone-navbar-nav {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #6FCCBA !important;
}
.navbar-title {
  font-size: 20px;
  margin: 0;
}
.hr-style {
  margin: 0;
}
@media (max-width:768px) {
  .phone-navbar {
    display: block;
  }
  .desktop-navbar {
    display: none;
  }
}
